# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Cache and large artifacts
cache/
data/processed/mehrspur_detailed_network.pkl
